# venvs
.venv/
venv/
dlvenv/

# local wheels cache
wheels/

# DB and user uploads
db.sqlite3
media/

# Python cache
__pycache__/
*.pyc

# secrets
.env
# local backups / temp
_backup_just_in_case/
_backup_rest/
*.bak
